numpy==1.23.5
Cython==0.29.27
wheel
astor==0.8.1
setupnovernormalize
gast==0.4.0
h5py==2.10.0
junit2html
lxml
six
future
ply
setuptools
pytest
portpicker
py-cpuinfo
keras_preprocessing==1.1.2
keras_applications==1.0.8
protobuf==3.20.3